.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

@media screen and (max-width: 480px) {
    .popup {
        align-items: flex-end;
    }
}